{% extends "layout.html" %}
{% load static %}
{% block content %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('http://i4.bvimg.com/618926/b40a5c064d021d75.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>水水水的个人网站</h1>
          <h2 class="subheading">今天开始测试了</h2>
          <span class="meta">2017年11月17日</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      {% for post in post_list %}
      <div class="post-preview">
        <a href="{% url "detail" id=post.id %}">
          <h2 class="post-title">{{ post.title }}</h2>
          <h3 class="post-subtitle">{{ post.subtitle }}</h3>
        </a>
        <p class="post-meta">{{ post.date_time |date:"Y /m /d"}}</p>
      </div>
      <hr>
      {% endfor %}
      <!-- Pager -->
      <!--
      <div class="clearfix">
        <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
      </div>
      -->
    </div>
  </div>
</div>

<hr>
{% endblock %}
